@import './variables.scss';

* {
  font-family: 'Rubik', sans-serif;
}

html, body
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.section:not(.hero) .section:not(.contact) {
  h1, h2, h3, h4, h5, h6, p {
    color: $darkgrey;
  }
}

body {
  background: $lightgrey;
  > .section {
    h2 {
      text-align: center;
    }
    &.hero {
      color: $white;
      margin-bottom: $spacingExtraLarge;
      background: $darkgrey;
      padding: $spacingExtraLarge 0 ($spacingExtraLarge + $spacingLarge) 0;
    }
    &.video {
      margin-bottom: $spacingExtraLarge;
      .video-player {
        margin: -15rem auto 0 auto;
      }
    }
    &.abstract {
      margin-bottom: $spacingExtraLarge;
      button {
        width: 100%;
      }
      @media (min-width: 550px) {
        button {
          width: 80%;
        }
      }
      p {
        margin-bottom: $spacingLarge;
      }
    }
    &.demo {
      background: $white;
      margin-bottom: 0;
      padding: $spacingExtraLarge 0;
      p {
        text-align: center;
        margin-bottom: $spacingLarge;
      }
      .columns {
        .demo-tile {
          cursor: pointer;
          border: 2px solid $darkgrey;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 15rem;
          margin-bottom: $spacingMedium;
          > * {
            margin: 0;
          }
        }
        @media (min-width: 550px) {
          &:first-child {
            .demo-tile {
              margin-right: $spacingSmall;
              &:first-child {
                margin-bottom: $spacingSmall * 2;
              }
            }
          }
          &:last-child {
            .demo-tile {
              margin-left: $spacingSmall;
              &:first-child {
                margin-bottom: $spacingSmall * 2;
              }
            }
          }
        }
      }
    }
    &.contact {
      background: $darkgrey;
      color: $white;
      margin: 0;
      padding: $spacingExtraLarge 0;
      text-align: center;
      h2 {
        margin-bottom: $spacingLarge;
      }
    }
  }
}

.full-width-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  padding-left: $spacingExtraLarge;
  padding-right: $spacingExtraLarge;
}

.align-center {
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
  padding: $spacingExtraSmall $spacingMedium;
  &.btn-primary {
    background: $darkgrey;
    color: $white;
    border: 2px solid $darkgrey;
  }
  &.btn-secondary {
    background: transparent;
    color: $darkgrey;
    border: 2px solid $darkgrey;
  }
}
