* {
  font-family: 'Rubik', sans-serif;
}

html, body
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.full-width-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.container
{
    padding-left:16px;
    padding-right:16px;
}

.container p
{
    // font-size: 1.6rem;
    color:#555;
}
