$darkergrey: rgb(10, 10, 10);
$darkgrey: rgb(80, 80, 80);
$lightgrey: rgb(240, 240, 240);
$white: white;

$spacingExtraLarge: 8rem;
$spacingLarge: 5.4rem;
$spacingMedium: 2.4rem;
$spacingSmall: 1.6rem;
$spacingExtraSmall: 0.8rem;
