@import './variables.scss';

.video-player {
  @media (min-width: 1000px) {
    width: 60%;
    min-width: 950px;
    max-width: 1900px;
  }
  width : 100%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  outline: 1px solid $darkergrey;
  .columns {
    position: relative;
    &.nine {
      background: black;
      align-items: center;
      .video-js {
        height: 100%;
        width: 100%;
        min-height: 400px;
      }
    }
    &.three {
      overflow: auto;
    }
  }
}
