.video-player {
  @media (min-width: 1000px) {
    width: 80%;
    max-width: 1900px;
  }
  width : 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  .columns {
    position: relative;
    &.nine {
      background: black;
      align-items: center;
      .video-js {
        height: 100%;
        width: 100%;
        min-height: 400px;
      }
    }
    &.three {
      overflow: auto;
    }
  }
}
